#distinct {
    min-height: 100%;
    padding: 115px 0 120px;
    position: relative;
    .topside {
        width: 100%;
        padding: 0 0 80px;
        display: flex;

        .left_side {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            width: 50%;

            .hidden {
                position: absolute;
                left: 0;
                top: 0;
            }

            .textbox {
                width: 440px;
                z-index: 1;

                h1 {
                    font-weight: 600;
                    font-size: 76px;
                    line-height: 84px;
                    letter-spacing: -3px;
                }

                p {
                    color: #6c6c6c;
                    margin: 16px 0 45px;
                    line-height: 1.4;
                }

                .tastycofee {
                    background-color: transparent;
                    border: 1px solid #E2DFDD;
                    margin-right: 20px;
                    padding: 16px 48px;
                    font-size: 12px;
                    border-radius: 5px;
                    font-weight: 500;
                    position: relative;

                    &::after {
                        content: "";
                        background-color: #C7A17A;
                        color: #ffffff;
                        width: 0%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        transition: 0.5s;
                        right: 0px;
                        z-index: -1;
                    }

                    &:hover {
                        border: 1px solid #C7A17A;

                        a {
                            color: #ffffff;
                        }

                        &::after {
                            width: 100%;
                            left: 0px;
                            overflow: hidden;
                        }
                    }
                }

                .readmore {
                    font-size: 9px;
                    color: #ffffff;
                    letter-spacing: 2px;
                    background-color: #C7A17A;
                    padding: 14px 24px;
                    text-decoration: none;
                    border: 1px solid #C7A17A;
                    border-radius: 5px;
                    font-weight: 500;
                    position: relative;
                    z-index: 1;
                    overflow: hidden;

                    &::after {
                        content: "";
                        background-color: #32323D;
                        color: #ffffff;
                        width: 0%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        right: 0px;
                        transition: 0.5s;
                        z-index: -1;
                        overflow: hidden;
                    }

                    &:hover {
                        border: 1px solid #32323D;

                        &::after {
                            width: 100%;
                            left: 0;
                            overflow: hidden;
                        }
                    }
                }
            }
        }

        .right_side {
            width: 50%;

            .imgbox {
                position: relative;
                z-index: 1;

                a {
                    display: flex;
                    flex-direction: column;
                    row-gap: 10px;
                    position: absolute;
                    bottom: 10%;
                    right: 10%;
                    z-index: 2;

                    .icon {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: 1px solid #c4c4c4;
                        color: #757575;
                        width: 72px;
                        height: 72px;
                        border-radius: 50%;
                        transition: 0.2s;

                        &:hover {
                            background-color: #C7A17A;
                            color: #ffffff;
                        }
                    }

                    span {
                        font-weight: 600;
                        font-size: 14px;
                        text-transform: uppercase;
                        position: relative;

                        &::after {
                            display: block;
                            content: "";
                            width: 0;
                            height: 3px;
                            background-color: #333;
                            position: absolute;
                            bottom: -4px;
                            left: 0;
                            transition: 0.2s;
                        }

                        &:hover {
                            &::after {
                                width: 100%;
                            }
                        }
                    }
                }
            }

            .hidden {
                position: absolute;
                top: 0;
                right: 0;
            }
        }
    }

    .bottomside {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        border-top: 1px solid #e8e8e8;
        padding: 32px 16px 0;
        .box {
            width: 25%;
            padding-right: 54px;
            position: relative;

            span {
                color: #acacac;
                border: 1px solid #c0c0c0;
                padding: 2px 20px;
                border-radius: 3px;
                position: absolute;
                top: -44px;
                left: 0;
                background: #ffffff;
            }

            h3 {
                font-size: 24px;
                margin-bottom: 16px;
            }

            p {
                color: #b4b4b4;
                line-height: 1.7;
            }
        }
    }

    .modal {
        display: none;
        transition: 0.5s;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 100%;
        opacity: 0.9;
        position: fixed;
        top: 0;
        left: 0;
        background: #333;
        z-index: 3;
        .closeVideo {
            position: fixed;
            top: 15px;
            right: 15px;
            bottom: auto;
            width: 36px;
            height: 36px;
            border: 1.5px solid #bbbbbb;
            border-radius: 50%;
            background: none;
            transition: 0.4s;
            transition-delay: 2s;

            &:hover {
                box-shadow: 2px 2px 2px rgba(127, 127, 127, 0.3);
                border-color: #ffffff;
            }

            &:hover i {
                color: #ffffff;
            }

            i {
                color: #b4b4b4;
                font-size: 20px;
            }
        }
    }

}

@media screen and (max-width: 1200px) {
    #distinct {
        .topside{
            padding: 0 0 20px;
        }
        .bottomside{
            border-top: none;
            .box{
                width: 50%;
                margin-top: 100px;
                text-align: center;
                padding: 0 120px;
                span{
                    position: relative;
                    top: -20px;
                    left: 0;
                }
            }
        }
    }
}
@media screen and (max-width: 992px) {
    #distinct {
        padding: 64px 0 40px;

        .topside {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;

            .left_side {
                width: 100%;
                padding: 20px 64px;

                .textbox {
                    text-align: center;

                    h1 {
                        font-size: 72px;
                        line-height: 1.1;
                    }

                    button {
                        margin-bottom: 20px;
                        margin-right: 20px;
                    }
                }
            }

            .right_side {
                width: 100%;
                padding: 0 20px;

                .imgbox {
                    display: flex;
                    flex-direction: column;
                    justify-content: end;
                    align-items: center;
                    row-gap: 10px;

                    a {
                        position: relative;
                        left: 0%;
                        top: 0;
                    }
                }
            }
        }
        
        .bottomside{
            .box{
                margin: 0 0 64px;
                padding: 0 64px;
            }
        }
    }

}
@media screen and (max-width: 768px) {
    #distinct {
        .bottomside{
            .box{
                width: 100%;
                padding: 0 180px;
            }
        }
    }

}

@media screen and (max-width: 576px) {
    #distinct {
        .topside {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;

            .left_side {
                .textbox {
                    text-align: center;

                    h1 {
                        font-size: 48px;
                        line-height: 1.1;
                    }

                    p {
                        font-size: 16px;
                    }

                    button {
                        margin: 0;
                    }

                    .tastycofee {
                        margin: 0 0 20px;
                    }
                }
            }
        }
        .bottomside{
            .box{
                padding: 0 64px;
            }
        }
    }
}